<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center text-pastelyellow">
                BudgetTwitter
            </div>
        </div>
    </div>
</footer>