<nav class="navbar navbar-expand-md navbar-dark bg-gunmetal">
    
    <div class="container">

        {{!-- Brand Name And Logo --}}
        <a class="navbar-brand text-pastelyellow" href="/users/dashboard">
            <strong>HOME</strong>
        </a>

        {{!-- Navbar Toggler - Stays at right upper corner on small and extra small device --}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-navigation">
            
            {{!-- Primary Navigation Menu --}}
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                {{!-- If user is logged in, he/she shouldn't see login, register --}}
                {{#if user}}
                   
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/authentication/signout">
                            <i class="fas fa-sign-in-alt"></i> Logout
                        </a>
                    </li>

                    <form action="/users/search" method="POST" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="lookup" name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search User</button>
                    </form>

                {{else}}
            
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/authentication/signin">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/authentication/signup">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                    </li>

                {{/if}}
            </ul>
            
        </div>{{!-- primary menu --}}
    </div> {{!-- container --}}
</nav> {{!-- nav --}}