{{!-- Home Page --}}
<div class="jumbotron wrapper d-flex mb-0">
    <div class="container-fluid align-self-center text-center">
        
        <h1 class="animated bounceIn">Welcome to BudgetTwitter !</h1>
        <hr class="hr-half">
        
        <a href='/authentication/signin' class="btn bg-junglegreen text-white hvr-float-shadow">
            <i class="fas fa-sign-in-alt"></i> | Login
        </a>

        <a href='/authentication/signup' class="btn bg-junglegreen text-white hvr-float-shadow">
            <i class="fas fa-user-plus"></i> | Register
        </a>

		<br>
    </div>
</div>
